@require './slide.styl'

html
body
#app
#app .app
  min-width: 100%;
  min-height: 100%;

#app .app > main
  margin-top 56px

.fixed
  position fixed
  width 100%
  z-index 1

  &.floating
    height 0

.room-tab-control
  @extend .fixed
  left 0
  bottom 56px

.scroll
  -webkit-overflow-scrolling touch
  overflow hidden

  &.scroll-x
    overflow-x auto !important
    max-width 100%
  &.scroll-y
    overflow-y auto !important
    max-height 100%
  &.scroll-all
    overflow auto !important
    max-width 100%
    max-height 100%

.no-shadow
  box-shadow: none

.neko-slide
  &-enter-active
  &-leave-active
    transition transform 0.4s ease-in-out
    position absolute
    top 0
    left 0
    max-width 100vh
    overflow hidden

  &-enter
    transform translate(100%, 0)

  &-leave-to
    transform translate(-100%, 0)

.neko-field
  &-enter-active
  &-leave-active
    transition transform 0.4s ease-in-out, opacity 0.4s ease-in-out

  &-enter
  &-leave-to
    transform translate(100%, 0)
    opacity 0

.neko-fade
  &-enter-active
  &-leave-active
    transition opacity 0.4s ease-in-out, opacity 0.4s ease-in-out

  &-enter
  &-leave-to
    opacity 0

.neko-slide-right
  &-enter-active
  &-leave-active
    transition transform 0.4s ease-in-out
  &-enter
  &-leave-to
    transform translateX(100%)

.neko-slide-bottom
  &-enter-active
  &-leave-active
    transition transform 0.4s ease-in-out
  &-enter
  &-leave-to
    transform translateY(100%)

iframe
  border none
  width 100%
